<div id="<%= dom_id shop %>">
  <p>
    <strong>Name:</strong>
    <%= shop.name %>
  </p>

  <p>
    <strong>Shelves:</strong>
    <%= shop.shelves %>
  </p>

  <p>
    <strong>Candies:</strong>
    <%= shop.unshelvedCandies %>
  </p>

</div>
